services:

  api:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - '5000:5000'
    container_name: api
    environment:
      - DB_HOST=flaskformdb
      - DB_PORT=5432
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
    volumes:
      - ./:/app
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

  db:
    image: postgres:17
    container_name: flaskformdb
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - '5500:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_NAME}']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: