    body {
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      background-color: #9ec0de;
      margin: 0;
      padding: 20px;
    }


    .button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }


